@model Product

<h3 class="text-white">@Model.Name Information</h3>

<table class="table-dark">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>StockLevel</th>
    </tr>
    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.CategoryID</td>
        <td>@Model.OnSale</td>
        <td>@Model.StockLevel</td>
        <td><img src="@Model.Image" width="200" /></td>
    </tr>

</table>

<div style="display: block">
    <a class="text-white" href="/Product/UpdateProduct/@Model.ProductID">Update this Product</a>
</div>

<div style="display: block">
    @using (Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>
@*<div style="display: block">
    @using (Html.ActionLink("Update", "Product" new { controller = "Product" }, new { target = "_blank" }
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>*@
